.comentarios.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.comentarios .section1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.comentarios .decorator {
  position: absolute;
  top: -2244px;
  left: -835px;
  width: 3128px;
  height: 3128px;
}
.comentarios .flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 53px auto 255px;
  width: 94.03%;
}
.comentarios .flex_row {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 888px;
}
.comentarios .medium_title {
  margin: 0px 0px 142px;
  font: 400 24px/0.66 "Inter", Helvetica, Arial, serif;
  color: black;
}
.comentarios .hero_title {
  display: flex;
  justify-content: center;
  margin: 110px 0px 0px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
  text-align: center;
}
.comentarios .big_title {
  margin: 48px 0px 0px 21px;
  font: 400 36px/1.16 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .flex_col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 12px 0px 21px;
}
@media (max-width: 1399px) {
  .comentarios .flex_col1 {
    flex-wrap: wrap;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
}
.comentarios .hero_title1 {
  width: 100%;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: black;
}
.comentarios .rect2 {
  margin: 54px 0px 0px;
  width: 100%;
  min-height: 42px;
  background-color: whitesmoke;
}
.comentarios .flex_row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 41px 0px 0px;
  width: 98.71%;
}
@media (max-width: 1399px) {
  .comentarios .flex_row1 {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}
.comentarios .content_box1 {
  display: flex;
  flex-direction: column;
  width: 363px;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  outline: 1px solid #e1e5ea;
  outline-offset: -1px;
}
.comentarios .flex_col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px 0px;
  margin: 18px 30px 100px 10px;
}
.comentarios .flex_row2 {
  display: flex;
  width: 100%;
}
.comentarios .image {
  margin: 0px 0px 3px;
  width: 29px;
  height: 29px;
}
.comentarios .flex_col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px 0px;
  width: 86px;
}
.comentarios .text {
  margin: 0px 0px 0px 7px;
  width: 79px;
  height: 13px;
  font: 500 13px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .info {
  margin: 0px 3px 0px 0px;
  width: 83px;
  height: 10px;
  font: 400 10px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .content_box {
  display: flex;
  flex-direction: column;
  width: 92.57%;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  outline: 1px solid #e1e5ea;
  outline-offset: -1px;
}
.comentarios .paragraph_box {
  margin: 21px 12px 54px 20px;
}
.comentarios .paragraph {
  font: 400 13px/1.53 "Inter", Helvetica, Arial, serif;
  color: black;
}
.comentarios .paragraph_span0 {
  font: 1em/1.53 "Inter", Helvetica, Arial, serif;
  color: #3b7ff6;
}
.comentarios .paragraph_span1 {
  font: 1em/1.53 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .flex_col4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0px;
  margin: 15px 30px 100px 10px;
}
.comentarios .flex_row3 {
  display: flex;
  gap: 0px 5px;
  width: 100%;
}
.comentarios .image1 {
  margin: 3px 0px 0px;
  width: 29px;
  height: 29px;
}
.comentarios .flex_col5 {
  display: flex;
  flex-direction: column;
  gap: 9px 0px;
  width: 92px;
}
.comentarios .text1 {
  margin: 0px 0px 0px 7px;
  width: 85px;
  height: 13px;
  font: 500 13px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .info1 {
  margin: 0px 9px 0px 0px;
  width: 83px;
  height: 10px;
  font: 400 10px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .paragraph_box1 {
  margin: 21px auto 34px;
  width: 79.6%;
}
.comentarios .flex_row4 {
  display: flex;
  gap: 0px 4px;
  width: 100%;
}
.comentarios .flex_col6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px 0px;
  width: 84px;
}
.comentarios .text2 {
  margin: 0px 0px 0px 7px;
  width: 77px;
  height: 13px;
  font: 500 13px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .info2 {
  margin: 0px 1px 0px 0px;
  width: 83px;
  height: 10px;
  font: 400 10px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .paragraph_box2 {
  margin: 21px 30px 34px 20px;
}
.comentarios .paragraph_span11 {
  font: 1em/1.53 "Inter", Helvetica, Arial, serif;
}
.comentarios .paragraph_span2 {
  font: 1em/1.53 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
.comentarios .boton{
  justify-content: center;
    margin: 0px 0px;
    width: 200px;
    height: auto;
    font: 500 15px/1 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    background-color: #796eff;
    text-align: center;
}
