.ayuda.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.ayuda .section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 2039px;
}
.ayuda .medium_title1 {
  position: absolute;
  top: 1292px;
  right: 55px;
  width: 555px;
  height: 144px;
  font: 400 30px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .medium_title1 {
    top: 1160px;
    right: 550px;
    align-items: flex-start;
    width: 1200px;
    font-size: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .medium_title1 {
    top: 1211px;
    right: 89px;
    width: 800px;
    font-size: 35px;
  }
}
@media (max-width: 1199px) {
  .ayuda .medium_title1 {
    top: 1250px;
    align-items: flex-start;
    width: 400px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .ayuda .medium_title1 {
    width: 300px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .ayuda .medium_title1 {
    right: 10px;
  }
}
@media (max-width: 575px) {
  .ayuda .medium_title1 {
    top: 1200px;
    left: 310px;
    width: 250px;
  }
}
@media (max-width: 479px) {
  .ayuda .medium_title1 {
    top: 1100px;
    left: 250px;
    width: 150px;
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .ayuda .medium_title1 {
    top: 1120px;
    left: 220px;
  }
}
.ayuda .medium_title11 {
  position: absolute;
  top: 1760px;
  bottom: 92px;
  left: 250px;
  width: 1000px;
  height: 168px;
  font: 400 30px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .medium_title11 {
    top: 1700px;
    left: 1150px;
    align-items: flex-start;
    width: 1600px;
    font-size: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .medium_title11 {
    bottom: 145px;
    left: 434px;
    width: 900px;
    font-size: 35px;
  }
}
@media (max-width: 1199px) {
  .ayuda .medium_title11 {
    align-items: flex-start;
    width: 500px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .ayuda .medium_title11 {
    top: 1700px;
    left: 125px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .ayuda .medium_title11 {
    left: 80px;
  }
}
@media (max-width: 575px) {
  .ayuda .medium_title11 {
    width: 400px;
  }
}
@media (max-width: 479px) {
  .ayuda .medium_title11 {
    top: 1550px;
    left: 140px;
    width: 150px;
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .ayuda .medium_title11 {
    top: 1560px;
    left: 120px;
  }
}
.ayuda .hero_title {
  position: absolute;
  top: 1600px;
  bottom: 279px;
  left: 300px;
  width: 900px;
  height: 240px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .hero_title {
    top: 1550px;
    left: 1200px;
    align-items: flex-start;
    width: 1500px;
    font-size: 75px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .hero_title {
    top: 1500px;
    left: 399px;
    width: 1150px;
  }
}
@media (max-width: 1199px) {
  .ayuda .hero_title {
    top: 1570px;
    left: 250px;
    align-items: flex-start;
    width: 600px;
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .ayuda .hero_title {
    left: 125px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .ayuda .hero_title {
    left: 80px;
  }
}
@media (max-width: 575px) {
  .ayuda .hero_title {
    top: 1600px;
    width: 400px;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .ayuda .hero_title {
    top: 1430px;
    left: 140px;
    width: 150px;
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .ayuda .hero_title {
    top: 1450px;
    left: 125px;
  }
}
.ayuda .hero_title1 {
  position: absolute;
  top: 1020px;
  right: 33px;
  width: 577px;
  height: 240px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .hero_title1 {
    top: 1000px;
    right: 350px;
    align-items: flex-start;
    width: 1400px;
    font-size: 75px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .hero_title1 {
    top: 991px;
    right: 10px;
    width: 900px;
  }
}
@media (max-width: 1199px) {
  .ayuda .hero_title1 {
    right: -50px;
    align-items: flex-start;
    width: 500px;
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .ayuda .hero_title1 {
    left: 400px;
    width: 300px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .ayuda .hero_title1 {
    left: 350px;
  }
}
@media (max-width: 575px) {
  .ayuda .hero_title1 {
    top: 1050px;
    left: 300px;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .ayuda .hero_title1 {
    top: 1000px;
    left: 260px;
    width: 150px;
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .ayuda .hero_title1 {
    left: 230px;
  }
}
.ayuda .rect {
  position: absolute;
  top: -105px;
  left: 80px;
  width: 552px;
  height: 460px;
}
.ayuda .group {
  position: absolute;
  top: -2244px;
  left: -835px;
  display: flex;
  flex-direction: column;
  width: 3128px;
  height: 3128px;
}
.ayuda .group1 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 3128px;
  height: 3128px;
}
.ayuda .decorator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3128px;
  height: 3128px;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .decorator {
    left: 329px;
    width: 5000px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .decorator {
    left: 160px;
  }
}
@media (max-width: 767px) {
  .ayuda .decorator {
    width: 2350px;
  }
}
@media (max-width: 575px) {
  .ayuda .decorator {
    width: 2250px;
    height: 3000px;
  }
}
@media (max-width: 479px) {
  .ayuda .decorator {
    width: 2050px;
  }
}
.ayuda .medium_title12 {
  position: absolute;
  bottom: 23px;
  left: 899px;
  width: 555px;
  height: 168px;
  font: 400 30px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .medium_title12 {
    bottom: 61px;
    left: 1153px;
    align-items: flex-start;
    width: 1200px;
    font-size: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .medium_title12 {
    left: 884px;
    width: 900px;
    font-size: 35px;
  }
}
@media (max-width: 1199px) {
  .ayuda .medium_title12 {
    align-items: flex-start;
    width: 400px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .ayuda .medium_title12 {
    width: 300px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .ayuda .medium_title12 {
    left: 860px;
  }
}
@media (max-width: 575px) {
  .ayuda .medium_title12 {
    top: 2900px;
    left: 870px;
    width: 200px;
  }
}
@media (max-width: 479px) {
  .ayuda .medium_title12 {
    width: 150px;
    font-size: 15px;
  }
}
.ayuda .hero_title2 {
  position: absolute;
  bottom: 281px;
  left: 899px;
  width: 650px;
  height: 48px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
  padding: 0px;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .hero_title2 {
    left: 1098px;
    align-items: flex-start;
    width: 1500px;
    font-size: 75px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .hero_title2 {
    left: 890px;
    width: 950px;
    height: 38px;
    font-size: 60px;
  }
}
@media (max-width: 1399px) {
  .ayuda .hero_title2 {
    left: 872px;
  }
}
@media (max-width: 1199px) {
  .ayuda .hero_title2 {
    left: 890px;
    align-items: flex-start;
    width: 450px;
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .ayuda .hero_title2 {
    width: 300px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .ayuda .hero_title2 {
    left: 860px;
  }
}
@media (max-width: 575px) {
  .ayuda .hero_title2 {
    left: 870px;
    width: 200px;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .ayuda .hero_title2 {
    width: 150px;
    font-size: 20px;
  }
}
.ayuda .medium_title {
  position: absolute;
  top: 2297px;
  left: 876px;
  width: 1358px;
  height: 16px;
  font: 400 35px/0.66 "Inter", Helvetica, Arial, serif;
  color: black;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .medium_title {
    align-items: flex-start;
    font-size: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .medium_title {
    font-size: 45px;
  }
}
@media (max-width: 1399px) {
  .ayuda .medium_title {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 1199px) {
  .ayuda .medium_title {
    width: 500px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .ayuda .medium_title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .ayuda .medium_title {
    font-size: 15px;
  }
}
.ayuda .hero_title3 {
  position: absolute;
  top: 181px;
  left: 133px;
  display: flex;
  justify-content: center;
  width: 1191px;
  height: 240px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
  text-align: center;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .hero_title3 {
    left: 557px;
    align-items: flex-start;
    width: 3000px;
    font-size: 80px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .hero_title3 {
    top: 150px;
    left: 200px;
    width: 1500px;
  }
}
@media (max-width: 1399px) {
  .ayuda .hero_title3 {
    left: 100px;
    width: 1100px;
  }
}
@media (max-width: 1199px) {
  .ayuda .hero_title3 {
    left: 60px;
    align-items: flex-start;
    width: 900px;
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .ayuda .hero_title3 {
    left: 90px;
    width: 600px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .ayuda .hero_title3 {
    left: 40px;
  }
}
@media (max-width: 575px) {
  .ayuda .hero_title3 {
    left: 35px;
    width: 500px;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .ayuda .hero_title3 {
    left: 65px;
    width: 300px;
  }
}
@media (max-width: 383px) {
  .ayuda .hero_title3 {
    left: 40px;
  }
}
.ayuda .hero_title4 {
  position: absolute;
  top: 1027px;
  left: 64px;
  width: 623px;
  height: 192px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .hero_title4 {
    top: 1019px;
    left: 250px;
    align-items: flex-start;
    width: 1200px;
    font-size: 75px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .hero_title4 {
    top: 996px;
    left: 54px;
    width: 850px;
  }
}
@media (max-width: 1199px) {
  .ayuda .hero_title4 {
    top: 1035px;
    align-items: flex-start;
    width: 450px;
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .ayuda .hero_title4 {
    width: 300px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .ayuda .hero_title4 {
    left: 25px;
  }
}
@media (max-width: 575px) {
  .ayuda .hero_title4 {
    left: 35px;
    width: 200px;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .ayuda .hero_title4 {
    top: 1000px;
    left: 40px;
    width: 150px;
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .ayuda .hero_title4 {
    top: 1010px;
  }
}
.ayuda .medium_title13 {
  position: absolute;
  top: 1247px;
  left: 64px;
  width: 555px;
  height: 144px;
  font: 400 30px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .medium_title13 {
    top: 1234px;
    left: 300px;
    align-items: flex-start;
    width: 1200px;
    font-size: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .medium_title13 {
    top: 1233px;
    left: 57px;
    width: 800px;
    font-size: 35px;
  }
}
@media (max-width: 1199px) {
  .ayuda .medium_title13 {
    align-items: flex-start;
    width: 400px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .ayuda .medium_title13 {
    width: 300px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .ayuda .medium_title13 {
    left: 25px;
  }
}
@media (max-width: 575px) {
  .ayuda .medium_title13 {
    top: 1200px;
    left: 35px;
    width: 250px;
  }
}
@media (max-width: 479px) {
  .ayuda .medium_title13 {
    top: 1100px;
    width: 150px;
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .ayuda .medium_title13 {
    top: 1120px;
  }
}
.ayuda .hero_title5 {
  position: absolute;
  top: 555px;
  right: 18px;
  width: 566px;
  height: 144px;
  font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
  color: #35414b;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .hero_title5 {
    top: 500px;
    right: 645px;
    align-items: flex-start;
    width: 1100px;
    font-size: 75px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .hero_title5 {
    right: 54px;
    width: 850px;
  }
}
@media (max-width: 1199px) {
  .ayuda .hero_title5 {
    right: -70px;
    align-items: flex-start;
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .ayuda .hero_title5 {
    left: 400px;
    width: 300px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .ayuda .hero_title5 {
    left: 360px;
  }
}
@media (max-width: 575px) {
  .ayuda .hero_title5 {
    left: 340px;
    width: 200px;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .ayuda .hero_title5 {
    left: 250px;
    width: 150px;
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .ayuda .hero_title5 {
    left: 220px;
  }
}
.ayuda .medium_title14 {
  position: absolute;
  top: 731px;
  right: 33px;
  width: 555px;
  height: 168px;
  font: 400 30px/1 "Inter", Helvetica, Arial, serif;
  color: #4e5a65;
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .ayuda .medium_title14 {
    top: 650px;
    right: 432px;
    align-items: flex-start;
    width: 1300px;
    font-size: 50px;
  }
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .ayuda .medium_title14 {
    top: 690px;
    right: 77px;
    width: 800px;
    font-size: 35px;
  }
}
@media (max-width: 1199px) {
  .ayuda .medium_title14 {
    top: 700px;
    align-items: flex-start;
    width: 450px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .ayuda .medium_title14 {
    left: 400px;
    width: 300px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .ayuda .medium_title14 {
    left: 350px;
  }
}
@media (max-width: 575px) {
  .ayuda .medium_title14 {
    top: 670px;
    left: 325px;
    width: 200px;
  }
}
@media (max-width: 479px) {
  .ayuda .medium_title14 {
    top: 650px;
    left: 240px;
    width: 150px;
    font-size: 15px;
  }
}
@media (max-width: 383px) {
  .ayuda .medium_title14 {
    left: 210px;
  }
}