<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/InicioArreglado.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="inicio-arreglado main">
      <section class="section1">
        <div class="rect12"></div>
        <img class="decorator" src="/assets/7b8712d95c502b41ce7a33d834be6aa2.png" alt="alt text" />
        <div class="rect"></div>
        <div class="flex_col">
          <div class="flex_col1">
            <div class="flex_col2">
              <div class="flex_col3">
                <div class="flex_row">
                  <h2 class="medium_title">DelightDineer.com</h2>
                  <h5 class="highlight2">Cómo funciona</h5>
                  <h5 class="highlight2">Productos</h5>
                  <h5 class="highlight2">Promociones</h5>
                  <h5 class="highlight2">Recursos</h5>
                  <h5 class="highlight2">Iniciar Sesion</h5>
                  <div class="content_box"><h5 class="highlight3">Registrarse</h5></div>
                </div>
                <div class="flex_col4">
                  <div class="flex_row1">
                    <div class="content_box1"><h5 class="highlight4">Ahorra 10%</h5></div>
                    <div class="content_box2">
                      <h5 class="highlight21">  ¡Registrate ahora!</h5>
                      <img class="image" src="/assets/c439d35f350c30c101c7f4b17879d83d.png" alt="alt text" />
                    </div>
                  </div>
                  <h1 class="hero_title">Explora un universo de<br />sugerencias culinarias</h1>
                  <h5 class="highlight1">
                    Una plataforma donde no solo hacemos reservas, somos tu guía culinaria personalizada,
                    <br />llevándote más allá de la simple reserva de una mesa.
                  </h5>
                </div>
                <div class="flex_row2">
                  <div class="content_box3"><h5 class="highlight31">ayuda inteligente</h5></div>
                  <div class="box1"><h5 class="highlight41">reservar</h5></div>
                </div>
                <div class="flex_col5">
                  <img class="image4" src="/assets/7a7930f1496f8ae40565b82abaf6eefa.png" alt="alt text" />
                  <div class="info">Afiliados de confianza</div>
                  <img class="image5" src="/assets/fafa24e8968053b9971096b8387dc7dd.png" alt="alt text" />
                </div>
              </div>
              <div class="flex_row3">
                <div class="content_box7">
                  <div class="flex_col6">
                    <div class="content_box4"><h5 class="highlight5">Nombre</h5></div>
                    <div class="flex_col7">
                      <div class="content_box5"><h5 class="highlight51">Opinión</h5></div>
                      <div class="content_box6"><div class="text">enviar</div></div>
                    </div>
                  </div>
                </div>
                <div class="flex_col8">
                  <div class="box">
                    <div class="flex_col9">
                      <h4 class="highlight">Comentarios</h4>
                      <h5 class="highlight11">Comenta tu experiencia en la pagina web</h5>
                    </div>
                    <div class="rect11"></div>
                  </div>
                  <h4 class="highlight6">Asistencia</h4>
                  <h5 class="highlight12">Recibe asistecia de nuestros especialistas</h5>
                  <hr class="line" size="1" />
                  <h4 class="highlight6">Rutina Alimentaria</h4>
                  <h5 class="highlight12">Rutinas seleccionadas por nuestros especialistas</h5>
                  <hr class="line" size="1" />
                  <h4 class="highlight7">Historial</h4>
                  <h5 class="highlight13">Visualiza tus busquedas dentro de la pagina</h5>
                </div>
              </div>
              <h1 class="hero_title1">Haz que tu elección sea más fácil</h1>
              <div class="flex_row4">
                <div class="flex_col10">
                  <img class="image1" src="/assets/38bce3f686b1fc601f49464a3ed63805.png" alt="alt text" />
                  <h4 class="highlight8">Estadísticas</h4>
                  <h5 class="highlight14">
                    Observa el poder de la los datos que revelan que somos la opción perfecta para satisfacer tus deseos
                    culinarios.
                  </h5>
                </div>
                <div class="flex_col11">
                  <img class="image1" src="/assets/55a519e4d96b24ed425fde8b9d972abc.png" alt="alt text" />
                  <h4 class="highlight8">Reservas</h4>
                  <h5 class="highlight15">Realiza las reservas con mayor facilidad y<br />eficacia.</h5>
                </div>
                <div class="flex_col12">
                  <img class="image1" src="/assets/088296e397746d6eaa4890cd878df6bb.png" alt="alt text" />
                  <h4 class="highlight8">Domicilios</h4>
                  <h5 class="highlight15">
                    Procede a realizar con seguridad tus pedidos sabiendo donde estan en todo momento.
                  </h5>
                </div>
              </div>
              <div class="flex_row5">
                <div class="flex_col13">
                  <img class="image1" src="/assets/00152e1aff57a0d308c0a33f44c8c8a4.png" alt="alt text" />
                  <h4 class="highlight8">Comentarios</h4>
                  <h5 class="highlight16">
                    Comparte tu opinión sobre tu experiencia con nuestra aplicación en nuestro apartado de comentarios.
                  </h5>
                </div>
                <div class="flex_col14">
                  <img class="image1" src="/assets/2b093af042e5fd1b6613b04a8bf898ad.png" alt="alt text" />
                  <h4 class="highlight8">Restaurantes afiliados</h4>
                  <h5 class="highlight15">
                    Descubre una amplia selección de <br />restaurantes afiliados cuidadosamente<br />seleccionados en
                    nuestra plataforma.
                  </h5>
                </div>
                <div class="flex_col15">
                  <img class="image1" src="/assets/66144a7caef9916c9dc385c187d6f4fb.png" alt="alt text" />
                  <h4 class="highlight9">Ayuda inteligente</h4>
                  <h5 class="highlight17">
                    Recibe sugerencias personalizadas para reservas culinarias perfectas, adaptadas a tus gustos únicos.
                  </h5>
                </div>
              </div>
            </div>
            <div class="flex_row6">
              <div class="flex_col16">
                <div class="flex_col17">
                  <h1 class="hero_title2">Disponibilidad de tiempo<br />completo</h1>
                  <h5 class="highlight18">
                    Nuestra plataforma está lista para ti las 24 horas del día, los 7 días de la semana. Ya sea que
                    tengas antojo de madrugada o estés planeando una cena tarde, estamos aquí para hacer tus pedidos a
                    cualquier hora, la puerta de la deliciosa experiencia está siempre abierta.
                  </h5>
                </div>
                <div class="content_box9"><h5 class="highlight42">Realizar reserva</h5></div>
              </div>
              <div class="content_box8">
                <img class="image6" src="/assets/a04e56a40a0634a65f27648e1a2d1d85.png" alt="alt text" /><img
                  class="image7"
                  src="/assets/8b7e0b73d9ffc3d62b1881ff78a327d5.png"
                  alt="alt text"
                />
              </div>
            </div>
            <div class="flex_col18">
              <h1 class="hero_title21">¿Porque nuestros clientes<br />están satisfechos?</h1>
              <h4 class="highlight61">
                Nos preocupamos por la comodidad del cliente porque entendemos que una experiencia fácil y sin
                complicaciones<br />
                influye directamente en la satisfacción del usuario. Priorizar la comodidad no solo fomenta la lealtad
                del cliente <br />y la competitividad en el mercado, sino que también genera opiniones positivas y
                mejora la eficiencia operativa <br />al reducir la necesidad de atención al cliente.
              </h4>
              <div class="rect16"></div>
            </div>
          </div>
          <div class="content_box10">
            <div class="flex_row7">
              <h1 class="title">
                84% de nuestros clientes<br />nos eligen como su website <br />culinario de confianza
              </h1>
              <img class="image2" src="/assets/c991ab396819a14a3476a132fd8c3da0.png" alt="alt text" />
            </div>
          </div>
        </div>
      </section>

      <section class="section2">
        <div class="flex_row8">
          <div class="flex_col19">
            <h5 class="highlight71">Compañia</h5>
            <h5 class="highlight81">Sobre nosotros</h5>
            <h5 class="highlight82">Contactanos</h5>
          </div>
          <div class="flex_col20">
            <h5 class="highlight72">Soporte</h5>
            <h5 class="highlight83">Centro de ayuda</h5>
            <h5 class="highlight81">Centro de satisfaccion</h5>
            <h5 class="highlight83">Comunidad</h5>
          </div>
          <div class="flex_col21">
            <h5 class="highlight73">Legal</h5>
            <h5 class="highlight82">Política de Cookies</h5>
            <h5 class="highlight81">Política de Privacidad</h5>
            <h5 class="highlight84">Términos de servicio</h5>
          </div>
        </div>
        <hr class="line1" size="1" />
        <div class="flex_row9">
          <div class="text1">© 2024 - Todos los derechos reservados</div>
          <img class="image3" src="/assets/1f68387d1a60b40ddfc1c0548d06fa0e.png" alt="alt text" />
        </div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
