.cerrar.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.cerrar .decorator {
  position: absolute;
  top: -2559px;
  left: -845px;
  width: 3128px;
  height: 3128px;
}
.cerrar .flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 544px 0px;
  margin: 114px auto 203px;
  width: 86.11%;
}
.cerrar .flex_row {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
}
.cerrar .medium_title {
  margin: 0px 0px 61px;
  width: auto;
  height: 16px;
  font: 400 24px/0.66 "Inter", Helvetica, Arial, serif;
  color: black;
}
.cerrar .hero_title {
  margin: 53px 0px 0px;
  width: auto;
  height: auto;
  font: 400 96px/0.25 "Josefin Sans", Helvetica, Arial, serif;
  color: #1d2830;
  letter-spacing: -5.76px;
}
.cerrar .content_box {
  display: flex;
  flex-direction: column;
  margin: 0px 39.6% 0px auto;
  width: 181px;
  background-color: #794cff;
  border-radius: 33.5px 33.5px 33.5px 33.5px;
}
.cerrar .medium_title1 {
  margin: 8px 11px 7px 16px;
  font: 500 24px/2.16 "Inter", Helvetica, Arial, serif;
  color: white;
}