<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Contactanos.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="contactanos main">
      <section class="section1">
        <img class="decorator" src="/assets/solid_yellow_circle.png" alt="alt text" />
        <div class="flex_col">
          <h2 class="medium_title"> &lt;--  ATRAS</h2>
          <div class="content_box2">
            <div class="content_box1">
              <div class="flex_col1">
                <h1 class="hero_title">PQR DELIGTH</h1>
                <div class="flex_col2">
                  <h3 class="subtitle">Que relacion tienes con nosotros?</h3>
                  <div class="rect3"></div>
                </div>
                <div class="flex_col3">
                  <h3 class="subtitle">Cual es su correo registrado con nosotros?</h3>
                  <div class="rect3"></div>
                </div>
                <div class="flex_col4">
                  <h3 class="subtitle">Cual es su ciudad?</h3>
                  <div class="rect3"></div>
                </div>
                <div class="flex_col5">
                  <h3 class="subtitle">
                    Dinos en que podemos ayudarte. Te enviaremos un mensaje dentro de 5 dias habiles.
                  </h3>
                  <div class="rect4"></div>
                </div>
                <div class="content_box"><h5 class="highlight">SUBIR</h5></div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
