<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Funcion.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="funcion main">
      <section class="section1">
        <div class="group">
          <img class="decorator" src="/assets/solid_yellow_circle.png" alt="alt text" />
          <div class="flex_col">
            <h2 class="medium_title"> &lt;--  ATRAS</h2>
            <h1 class="hero_title">Como funciona nuestra pagina?</h1>
            <div class="flex_row">
              <div class="flex_col1">
                <h1 class="hero_title1_box">
                  <span class="hero_title1"
                    ><span class="hero_title1_span0">Disfruta de tu Experiencia:<br /><br /></span
                    ><span class="hero_title1_span1"
                      >Llega al restaurante en la fecha y hora programadas y prepárate para disfrutar de una experiencia
                      gastronómica inolvidable. ¡Bon appétit!</span
                    ></span
                  >
                </h1>
                <h1 class="hero_title2_box">
                  <span class="hero_title2"
                    ><span class="hero_title2_span0">Selecciona tu Restaurante <br /><br />Favorito:<br /></span
                    ><span class="hero_title2_span1"><br /></span
                    ><span class="hero_title2_span2"
                      >Una vez que hayas encontrado el restaurante que te llama la atención, selecciona la opción para
                      ver más detalles. Explora su menú, lee reseñas y descubre qué experiencias únicas ofrece cada
                      lugar.</span
                    ></span
                  >
                </h1>
                <h1 class="title_box">
                  <span class="title"
                    ><span class="title_span0">Completa tu Reserva:<br /><br /></span
                    ><span class="title_span1"
                      >Completa el proceso de reserva proporcionando la información necesaria, como el número de
                      personas y cualquier solicitud especial que puedas tener. Asegúrate de revisar los detalles de tu
                      reserva antes de confirmar.</span
                    ></span
                  >
                </h1>
              </div>
              <div class="flex_col2">
                <h1 class="hero_title2_box1">
                  <span class="hero_title2"
                    ><span class="hero_title2_span0">Explora Restaurantes:<br /></span
                    ><span class="hero_title2_span1"><br /></span
                    ><span class="hero_title2_span2"
                      >Navega por nuestra amplia selección de restaurantes disponibles. Filtra por ubicación, tipo de
                      cocina o preferencias específicas para encontrar el lugar perfecto para tu próxima salida</span
                    ><span class="hero_title2_span3">.</span></span
                  >
                </h1>
                <h1 class="hero_title1_box1">
                  <span class="hero_title1"
                    ><span class="hero_title1_span0">E</span
                    ><span class="hero_title1_span11">lige Fecha y Hora:<br /><br /></span
                    ><span class="hero_title1_span2"
                      >Selecciona la fecha y hora en la que deseas realizar tu reserva. Verifica la disponibilidad en
                      tiempo real y elige el momento que mejor se adapte a tu agenda.</span
                    ></span
                  >
                </h1>
                <h1 class="title_box1">
                  <span class="title"
                    ><span class="title_span0">Recibe Confirmación:<br /><br /></span
                    ><span class="title_span1"
                      >Una vez que hayas encontrado el restaurante que te llama la atención, selecciona la opción para
                      ver más detalles. Explora su menú, lee reseñas y descubre qué experiencias únicas ofrece cada
                      lugar.</span
                    ></span
                  >
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section2">
        /*🚩13 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks
        adaptability.❗*/
        <h5 class="highlight">Compañia</h5>
        <h5 class="highlight1">Sobre nosotros</h5>
        <h5 class="highlight11">Contactanos</h5>
        <h5 class="highlight2">Soporte</h5>
        <h5 class="highlight12">Centro de ayuda</h5>
        <h5 class="highlight13">Centro de satisfaccion</h5>
        <h5 class="highlight14">Comunidad</h5>
        <h5 class="highlight3">Legal</h5>
        <h5 class="highlight15">Política de Cookies</h5>
        <h5 class="highlight16">Política de Privacidad</h5>
        <h5 class="highlight17">Términos de servicio</h5>
        <div class="text">© 2024 - Todos los derechos reservados</div>
        <img class="decorator1" src="/assets/three_black_ellipses.png" alt="alt text" />
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
