<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__group1">
  /*🚩11 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks
  adaptability.❗*/
  <h2 class="header__medium_title">DelightDineer.com</h2>
  <h5 class="header__highlight2">Cómo funciona</h5>
  <img class="header__image" src="/assets/e1699197a670e568833795f19f826c13.png" alt="alt text" />
  <h5 class="header__highlight21">Productos</h5>
  <img class="header__image1" src="/assets/e1699197a670e568833795f19f826c13.png" alt="alt text" />
  <h5 class="header__highlight22">Promociones</h5>
  <h5 class="header__highlight23">Recursos</h5>
  <img class="header__image2" src="/assets/e1699197a670e568833795f19f826c13.png" alt="alt text" />
  <h5 class="header__highlight24">Iniciar Sesion</h5>
  <div class="header__rect1"></div>
  <h5 class="header__highlight3">Registrarse</h5>
</div>
