<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Estadisticas.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="estadisticas main">
      <section class="section1">
        <img class="decorator" src="/assets/solid_yellow_circle.png" alt="alt text" />
        <div class="flex_col">
          <div class="flex_row">
            <h2 class="medium_title"> &lt;--  ATRAS</h2>
            <h1 class="hero_title1">Estadisticas</h1>
          </div>
          <div class="flex_row1">
            <div class="flex_col1">
              <div class="flex_col2">
                <h1 class="hero_title">Variedad</h1>
                <h2 class="medium_title1">
                  Más de 1000 restaurantes asociados, ofreciendo una selección diversa de cocinas de todo el mundo para
                  satisfacer todos los gustos y preferencias.
                </h2>
                <img class="image" src="/assets/75d1c0cf1bb536d338e5e4b6f59e123c.png" alt="alt text" />
              </div>
              <div class="flex_col3">
                <h1 class="hero_title2">Facilidad de Reserva</h1>
                <h2 class="medium_title11">
                  Con más de 50000 reservas realizadas mensualmente a través de nuestro sistema en línea, garantizamos
                  una experiencia de reserva rápida y sin complicaciones.
                </h2>
                <img class="image2" src="/assets/5a92680304cf70ea1ae513ee1532c5f9.png" alt="alt text" />
              </div>
            </div>
            <div class="flex_col4">
              <div class="flex_col5">
                <h1 class="hero_title3">Experiencia de Usuario</h1>
                <h2 class="medium_title12">
                  Con una calificación promedio de satisfacción del cliente del 4.8 sobre 5, basada en más de 10000
                  reseñas verificadas, nos enorgullece ofrecer una experiencia de usuario excepcional en cada
                  interacción.
                </h2>
                <img class="image1" src="/assets/8d56420343acf8cf93719e108b17c920.png" alt="alt text" />
              </div>
              <div class="flex_col6">
                <h1 class="hero_title2">Satisfacción del Cliente</h1>
                <h2 class="medium_title13">
                  Nuestro índice de retención de clientes del 80%, junto con una tasa de recompra del 60%, demuestra la
                  lealtad y la satisfacción de nuestros clientes con nuestros servicios.
                </h2>
                <img class="image3" src="/assets/e6545383f45adb70d43a2ae2d63c3e08.png" alt="alt text" />
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
