@use "utils" as *;
@use "global" as *;

.estadisticas {
  &.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .section1 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .decorator {
    position: absolute;
    top: -2244px;
    left: -835px;
    width: 3128px;
    height: 3128px;
  }
  .flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 54px 0px;
    margin: 53px auto 23px;
    width: 95.21%;
  }
  .flex_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 10px;
    width: 877.5px;
    @include mq-between(xxl, xxxl) {
      margin: 0px 0px 0px auto;
      width: 1900px;
    }
    @include lg {
      column-gap: 10px;
    }
  }
  .medium_title {
    margin: 0px 0px 142px;
    font: 400 24px/0.66 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .hero_title1 {
    display: flex;
    justify-content: center;
    margin: 110px 0px 0px auto;
    width: auto;
    height: auto;
    font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
    color: rgb(53, 65, 75);
    text-align: center;
    @include mq-between(xxl, xxxl) {
      margin: 110px auto 0px;
    }
  }
  .flex_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 0px 0px 0px 17px;
    @include mq-between(xxl, xxxl) {
      justify-content: center;
      align-content: center;
      column-gap: 10px;
    }
    @include lg {
      flex-wrap: wrap;
      column-gap: 10px;
    }
  }
  .flex_col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px 0px;
    width: 648px;
  }
  .flex_col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95.06%;
  }
  .hero_title {
    width: 46.1%;
    font: 600 40px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(53, 65, 75);
  }
  .medium_title1 {
    margin: 11px 0px 0px;
    font: 400 24px/1 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
  }
  .image {
    margin: 76px 0px 0px;
    width: 60.39%;
  }
  .flex_col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hero_title2 {
    font: 600 40px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(53, 65, 75);
  }
  .medium_title11 {
    margin: 25px 0px 0px;
    font: 400 24px/1 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
  }
  .image2 {
    margin: 54px 0px 0px;
    width: 55.56%;
  }
  .flex_col4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px 0px;
    width: 565px;
  }
  .flex_col5 {
    display: flex;
    flex-direction: column;
    width: 98.23%;
  }
  .hero_title3 {
    margin: 0px 6px;
    font: 600 40px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(53, 65, 75);
  }
  .medium_title12 {
    margin: 14px 0px 0px;
    font: 400 24px/1 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
  }
  .image1 {
    margin: 25px 0px 0px 14.05%;
    width: 358px;
  }
  .flex_col6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.23%;
  }
  .medium_title13 {
    margin: 13px 0px 0px;
    font: 400 24px/1 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
  }
  .image3 {
    margin: 55px 0px 0px;
    width: 56.76%;
  }
}
