@use "utils" as *;
@use "global" as *;

.comunidad {
  &.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .section1 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .decorator {
    position: absolute;
    top: -2244px;
    left: -835px;
    width: 3128px;
    height: 3128px;
  }
  .flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 105px 0px;
    margin: 53px auto 213px;
    width: 86.22%;
  }
  .medium_title {
    font: 400 24px/0.66 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .flex_col1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px auto;
    width: 89.17%;
  }
  .flex_col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
    width: 96.66%;
  }
  .hero_title {
    display: flex;
    justify-content: center;
    font: 600 64px/0.75 "Inter", Helvetica, Arial, serif;
    color: rgb(53, 65, 75);
    text-align: center;
    @include sm {
      align-items: flex-start;
      font-size: 40px;
    }
  }
  .big_title {
    font: 400 36px/1.11 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
  }
  .flex_col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px 0px;
    margin: 167px 0px 0px;
    width: 53.66%;
  }
  .title {
    display: flex;
    justify-content: center;
    font: 400 32px/0.75 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
    text-align: center;
  }
  .flex_col4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 51px 0px;
    margin: 62px 0px 0px;
    width: 60.7%;
  }
  .title1 {
    display: flex;
    justify-content: center;
    width: 88.39%;
    font: 400 32px/0.75 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
    text-align: center;
  }
  .flex_col5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 68px 0px;
    margin: 62px 0px 0px;
    width: 100%;
  }
  .title2 {
    display: flex;
    justify-content: center;
    width: 53.66%;
    font: 400 32px/0.75 "Inter", Helvetica, Arial, serif;
    color: rgb(78, 90, 101);
    text-align: center;
  }
}
